/* src/index.css */
@import "tailwindcss";

/* Twoje globalne style opcjonalnie poniżej */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}